<!-- This is the form where users can post their initial comment -->
<div class="comment-section">
  <form METHOD="POST" action="includes/postcomment.php">
    <label class="commentlabel">Comment on this article</label>
    <?php echo "<input type='hidden' name='date' value='".date('Y-m-d H:i:s')."' />"?>
    <textarea type="text" name="comment" placeholder="Write a comment..." class="commentinput" required></textarea>
    <button type="submit" name="commentsubmit" class="comment-btn">Post comment</button>
  </form>
  <div class="user-comments" id="id-user-comments">
    <!-- This is where you will display all the comments from the database -->
  </div>
</div>

<script src="/js/editPost.js"></script>